---
import Layout from "@layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <h1 class="text-4xl text-gray-300 font-bold text-center mt-8">
        Characterizing Value Landscapes for Exoskeleton Assistance
    </h1>
    <p class="text-blue-500 text-center mt-8 text-blue-500">
        How does user value of exoskeleton assistance change with assistance
        attributes?
    </p>
    <img
        src="/S106_vas_landscape.png"
        alt="Description of image"
        class="mx-auto my-8 w-1/2 rounded-lg"
    />
    <p class="text-gray-300 text-center mt-8 text-blue-500"></p>
</Layout>
