---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <!-- <a
    class="inline-block rounded-full bg-primary px-8 py-5 text-sm leading-5 font-medium text-[#fff]"
    href={`mailto:${email}`}>Email</a
  > -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h2 class="text-xl font-bold text-white mb-2">Interests</h2>
      <ul class="list-disc list-inside text-neutral">
        <li>Biomechanics</li>
        <li>Simulation</li>
        <li>Controls</li>
        <li>Design</li>
      </ul>
    </div>
    <div>
      <h2 class="text-xl font-bold text-white mb-2">Skill-set</h2>
      <ul class="list-disc list-inside text-neutral">
        <li>Data Analysis</li>
        <li>Prototyping</li>
        <li>Experimental Design</li>
        <li>Biomechanics</li>
      </ul>
    </div>
  </div>
</section>
